<div id="<%= dom_id session %>">
  <p>
    <strong>Name:</strong>
    <%= session.name %>
  </p>

  <p>
    <strong>Wip:</strong>
    <%= session.wip %>
  </p>

  <p>
    <strong>Stg:</strong>
    <%= session.stg %>
  </p>

  <p>
    <strong>Ltg:</strong>
    <%= session.ltg %>
  </p>

  <p>
    <strong>Tries:</strong>
    <%= session.tries %>
  </p>

</div>
