<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= patient.surname %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= patient.session_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= patient.notes %>
  </p>

</div>
